#██████╗  ██████╗ ████████╗███████╗██╗██╗     ███████╗███████╗
#██╔══██╗██╔═══██╗╚══██╔══╝██╔════╝██║██║     ██╔════╝██╔════╝
#██║  ██║██║   ██║   ██║   █████╗  ██║██║     █████╗  ███████╗
#██║  ██║██║   ██║   ██║   ██╔══╝  ██║██║     ██╔══╝  ╚════██║ Author: Max Bossing <info@maxbossing.de>
#██████╔╝╚██████╔╝   ██║   ██║     ██║███████╗███████╗███████║ Source: https://codeberg.org/maxbossing/dotfiles
#╚═════╝  ╚═════╝    ╚═╝   ╚═╝     ╚═╝╚══════╝╚══════╝╚══════╝ File:   .gitconfig
[user]
	email = info@maxbossing.de
	name = Max Bossing
[init]
    defaultBranch = master
[commit]
    gpgsign = true
[color]
    ui = auto
[core]
    editor = nvim
[diff]
    mnemonicPrefix = true
    renames = true
[grep]
    break = true
    heading = true
    lineNumber = true
    extendedRegexp = true
