[submodule "st"]
	path = st
	url = https://github.com/maxbossing/st
[submodule "dwm"]
	path = dwm
	url = git@github.com:maxbossing/dwm.git
[submodule "dmenu"]
	path = dmenu
	url = git@github.com:maxbossing/dmenu.git
