[submodule "st"]
	path = st
	url = https://git.exobyte.dev/max/st 
[submodule "dwm"]
	path = dwm
	url = https://git.exobyte.dev/max/dwm
[submodule "dmenu"]
	path = dmenu
  url = https://git.exobyte.dev/max/dmenu
